In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('../../data/os/forbes_merged_raw_2008_2021.csv')

In [19]:
df_company_names = df['company']
df_company_names = df_company_names.unique()
len(df_company_names)

3884

In [20]:
df.isnull().sum()

company                 0
industry             1124
country                 0
market_value            5
profits                 9
assets                 15
sales                  11
rank                    0
year                    0
profits_%_assets     4016
profits_%_sales      4030
forbes_webpage       1692
sector               3226
continent               0
headquarters         3592
state               19376
ceo                  3605
dtype: int64

In [21]:
# We filter all companies with null numerical values and we re calculate % columns
df = df[(df.market_value.notnull()) & (df.profits.notnull()) & (df.assets.notnull()) & (df.sales.notnull())]

df['profits_%_assets'] = df.profits / df.assets
df['profits_%_sales'] = df.profits / df.sales
df = df.fillna({'profits_%_sales': 0.0})

In [22]:
df.isnull().sum()

company                 0
industry             1121
country                 0
market_value            0
profits                 0
assets                  0
sales                   0
rank                    0
year                    0
profits_%_assets        0
profits_%_sales         0
forbes_webpage       1689
sector               3219
continent               0
headquarters         3586
state               19343
ceo                  3599
dtype: int64

In [23]:
df[df.ceo.isnull()].sort_values('company')

,company,industry,country,market_value,profits,assets,sales,rank,year,profits_%_assets,profits_%_sales,forbes_webpage,sector,continent,headquarters,state,ceo
1415,abercrombie & fitch,Retailing,United States,6.68,0.48,2.57,3.75,1416,2008,0.186770,0.128000,NaN,NaN,United States,NaN,NaN,NaN
1916,abitibibowater,Materials,Canada,0.60,-0.49,10.80,3.88,1917,2008,-0.045370,-0.126289,NaN,NaN,Canada,NaN,NaN,NaN
3672,abitibibowater,Materials,Canada,0.03,-1.05,9.94,6.65,1673,2009,-0.105634,-0.157895,NaN,NaN,Canada,NaN,NaN,NaN
3562,abk,Banking,Kuwait,2.60,0.28,10.83,0.77,1563,2009,0.025854,0.363636,NaN,NaN,Kuwait,NaN,NaN,NaN
5951,acc,Construction,India,3.76,1.76,0.32,1.74,1952,2010,5.500000,1.011494,NaN,NaN,India,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8096,zurich financial services,Insurance,Switzerland,39.00,53.00,3.50,365.60,97,2012,15.142857,0.144967,http://www.forbes.com/companies/zurich-financi...,NaN,Switzerland,NaN,NaN,NaN
6078,zurich financial services,Insurance,Switzerland,39.90,67.80,3.40,375.70,79,2011,19.941176,0.180463,http://www.forbes.com/companies/zurich-financi...,NaN,Switzerland,NaN,NaN,NaN
2095,zurich financial services,Insurance,Switzerland,19.60,3.04,325.04,32.35,96,2009,0.009353,0.093972,http://www.forbes.com/companies/zurich-financi...,NaN,Switzerland,NaN,NaN,NaN
4062,zurich financial services,Insurance,Switzerland,34.71,70.27,3.22,366.66,63,2010,21.822981,0.191649,http://www.forbes.com/companies/zurich-financi...,NaN,Switzerland,NaN,NaN,NaN
64,zurich financial services,Insurance,Switzerland,45.76,5.63,387.67,55.05,65,2008,0.014523,0.102271,http://www.forbes.com/companies/zurich-financi...,NaN,Switzerland,NaN,NaN,NaN

In [24]:
df[df.company == 'zain group']

,company,industry,country,market_value,profits,assets,sales,rank,year,profits_%_assets,profits_%_sales,forbes_webpage,sector,continent,headquarters,state,ceo
586,zain group,Telecommunications Services,Kuwait,28.25,1.13,15.97,5.91,587,2008,0.070758,0.191201,NaN,NaN,Kuwait,NaN,NaN,NaN
2498,zain group,Telecommunications Services,Kuwait,9.61,1.20,19.76,7.45,498,2009,0.060729,0.161074,NaN,NaN,Kuwait,NaN,NaN,NaN
4444,zain group,Telecommunications Services,Kuwait,19.10,7.34,1.18,19.44,445,2010,6.220339,0.377572,NaN,NaN,Kuwait,NaN,NaN,NaN